<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <!-- When you do `nuget push` this default source will be used. This is the recommended url for publishing to
     artifactory since it won't be overriden in bokken to point at the slough artifactory, like the other url is -->
    <add key="DefaultPushSource" value="https://artifactory-upload.prd.it.unity3d.com/artifactory/api/nuget/unity-nuget-local" />
    <add key="DefaultPushSourceTest" value="https://artifactory-upload.test.it.unity3d.com/artifactory/api/nuget/unity-nuget-local" />
  </config>
  <packageSources>
    <clear/>
    <add key="Artifactory" value="https://artifactory.prd.it.unity3d.com/artifactory/api/nuget/v3/nuget" protocolVersion="3"/>
  </packageSources>
</configuration>
