<RunSettings>
  <RunConfiguration>  
    <ResultsDirectory>./TestResults</ResultsDirectory>
    <SolutionDirectory>./TestResults</SolutionDirectory>
    <TestSessionTimeout>1800000</TestSessionTimeout>
  </RunConfiguration>  
  <LoggerRunSettings>
    <Loggers>
      <Logger friendlyName="console" enabled="True">
        <Configuration>
            <Verbosity>quiet</Verbosity>
        </Configuration>
      </Logger>
      <Logger friendlyName="html" enabled="True">
      </Logger>
      <Logger friendlyName="blame" enabled="True" />
    </Loggers>
  </LoggerRunSettings>
</RunSettings>
