{
    "id": "BUY_GOLD",
    "name": "Buy Gold",
    "type": "MONEY_PURCHASE",
    "customData": null,
    "rewards": [
        {
            "resourceId": "GOLD",
            "amount": 100
        }
    ],
    "storeIdentifiers": {
        "appleAppStore": "test-apple",
        "googlePlayStore": "test-google"
    }
}
